.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
}

.social-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.search-btn {
    border: 0;
    border-radius: 50%;
    background-color: #FF4C60;
}

.search-btn:hover {
    background-color: #FF4C60;
    transform: translate(1px, 1px);
}

.icons {
    font-size: 25px;
    padding-right: 2px;
}

.icons:hover {
    transform: translate(1px, 1px);
}