.r_banner {
    cursor: pointer;
    width: 70px;
    height: 70px;
}

.r_banner:hover {
    transform: translate(-2px, -2px);
}

.r_title {
    color: #474562;
    font-size: 16px;
}

.r_text {
    color: #6A7180;
    font-size: 13px;
}

.r_title:hover {
    text-decoration: underline;
    text-decoration-color: #58E2D8;
    cursor: pointer;
}